<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
    <ion-navbar color ="primary">
       <ion-title>Inventory Pro</ion-title>
     </ion-navbar>
    <ion-toolbar>
      <ion-title>Cart</ion-title>
    </ion-toolbar>
   </ion-header>


<ion-content>
<ion-list>
  <ion-list-header>Your Cart</ion-list-header>
  <ion-item *ngFor="let item of cartItems">
    <ion-label>{{item.inventoryItem.name}}</ion-label>
    <div item-right>{{item.quantity}}</div>
  </ion-item>
</ion-list>
</ion-content>
