<!--
  Generated template for the NotificationsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header> 
    <ion-navbar color ="primary">
       <ion-title>Inventory Pro</ion-title>
     </ion-navbar>
    <ion-toolbar>
      <ion-title>Notifications</ion-title>
    </ion-toolbar>
   </ion-header>

<ion-content padding>

</ion-content>
