<ion-header> 
    <ion-navbar color ="primary">
       <ion-title>Inventory Pro</ion-title>
     </ion-navbar>
    <ion-toolbar>
      <ion-title>Search</ion-title>
    </ion-toolbar>
   </ion-header>
  
  <ion-content>
    <ion-searchbar (ionInput)="filter($event)"></ion-searchbar>
    <p *ngIf="!inventoryItems || inventoryItems.length == 0">
      No inventory items.
    </p>
    <ion-list padding *ngIf="inventoryItems && inventoryItems.length > 0">
      <ion-item *ngFor="let item of inventoryItems">
        <ion-thumbnail item-start>
          <img src="{{item.photoUrl}}">
        </ion-thumbnail>
        <h2>{{item.name}}</h2>
        <p>{{item.description}}</p>
        <p>Available: {{item.quantityInStock}}</p>
        <p *ngIf="item.quantityOnOrder > 0">On order: {{item.quantityOnOrder}}</p>
        <p *ngIf="item.quantityOnOrder > 0">Est delivery: {{item.estimatedDeliveryDate}}</p>
        <button (click)="addToCart(item)" ion-button clear item-end>ADD</button>
      </ion-item>
    </ion-list>
    {{ quantity }}
  </ion-content>
  