<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Search" tabIcon="search"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="My Requests" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Notifications" tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Cart" tabBadge="{{cartCount || 0}}" tabIcon="basket"></ion-tab>
</ion-tabs>
<ion-fab right top>
  <button (click)="navigateToNewInventoryItem()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
</ion-fab>
