<!--
  Generated template for the CreateNewInventoryItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Inventory Item</ion-title>
    <ion-buttons end>
      <button (click)="saveInventoryItem()" ion-button text-only color="primary">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p>
   Inventory Item:
   {{ newItem | json }}
  </p>
  <ion-list>

    <ion-item>
      <ion-input [(ngModel)]="newItem.name" type="text" placeholder="Product Name"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-input [(ngModel)]="newItem.description" type="text" placeholder="Description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="newItem.type" type="text" placeholder="Type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="newItem.quantityInStock" type="number" placeholder="Quantity In Stock"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="newItem.quantityOnOrder" type="number" placeholder="Quantity On Order"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estimated Delivery Date</ion-label>
      <ion-datetime [(ngModel)]="newItem.estimatedDeliveryDate" displayFormat="MMM DD YYYY"></ion-datetime>
    </ion-item>
  
  </ion-list>
</ion-content>
